$c: center
$c2: rgb(0, 86, 179) //blue color
$h: 100%
$n: none
$wm: 700px //width max
$wp: 80% //width percent

@import ../assets/styles/arrowDown
@import ../assets/styles/footer
@import ../assets/styles/general
@import ../assets/styles/header
@import ../assets/styles/loader
@import ../assets/styles/mediaMax580
@import ../assets/styles/mediaMin900
@import ../assets/styles/menu
@import ../assets/styles/projects
@import ../assets/styles/skills
