
$yellow: yellow
$green: #58b792
$blue: #1976d2
$link-hover: $yellow

@import "bulma"

*
  box-sizing: border-box
  user-select: none

html
  scroll-behavior: smooth
  cursor: default

hr
  background-color: $grey-lighter

.section
  min-height: 100vh
  z-index: 1

@import ../assets/styles/footer
@import ../assets/styles/header
@import ../assets/styles/navbar
@import ../assets/styles/about
@import ../assets/styles/projects

@import ../assets/styles/media
@import ../assets/styles/animations
@import ../assets/styles/bulma-tooltip/index
