$yellow: yellow
$blue: #1976d2
$link-hover: $yellow

@import "bulma"

*
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  background-color: red

.section
  min-height: 100vh

@import ../assets/styles/header
@import ../assets/styles/navbar
@import ../assets/styles/about
@import ../assets/styles/projects

@import ../assets/styles/bulma-tooltip/index
