:root {
	--secondary-color: rgb(0, 86, 179);
	--width-percent: 80%;
	--width-max: 700px;
}

html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: Verdana;
	background-color: var(--light);
	width: calc(100vw-17px);
	user-select: none;
}

#main {
  display: none;
  width: 100%;
}

/*----------------------------HEADER*/
header {
	background: radial-gradient(circle, rgb(52,58,64) 0%, rgb(38,41,45) 100%);
	height: 90vh;
	width: 100%;
	color: var(--light);
	border: var(--border);
	box-shadow: 0 0 10px black;
}

#headerContent {
	border: var(--border);
	width: var(--width-percent);
	max-width: var(--width-max);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 90%;
	margin: auto;
}

.social-media-icon {
	margin: 3vw 3vw 0 0;
	font-size: 5vh;
	color: var(--light);
	animation: slide-top 0.5s ease-in-out;
}

.social-media-icon:hover {
	opacity: 0.8;
	transform: translateY(-0.5vh);
}

@keyframes slide-top {
	0% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0);
	}
}

#text-hi {
	font-size: 7vh;
	line-height: 100%;
	margin-bottom: 3vh;
}

#text-self-description {
	font-size: 2.5vh;
	margin-bottom: 3vh;
	
}

#contact-button {
	background-color: yellow;
	animation: zoom 1s ease-in-out;
	text-transform: lowercase;
}
/*-------------------------------HEADER*/

/*----------------ARROW DOWN*/

#arrow-down {
	margin-top: 2vh;
	text-align: center;
	font-size: 5vh;
	color: var(--gray-dark);
	animation: arrow-bounce 1s ease-in-out infinite;
}

#arrow-down:hover {
	color: yellow;
}

@keyframes arrow-bounce {
	0%, 100% {
    transform: translateY(0);
	}

	50% {
    transform: translateY(10px);
	}
}

/*---------------ARROW DOWN */

/*--------------------SKILLS */

h2 {
	text-align: center;
	text-decoration: underline;
	text-decoration-color: yellow;
}

h2:hover {
	text-decoration-color: var(--secondary-color);
}

section {
	margin: 10vh auto 0 auto;
	padding: 3vmin;
	max-width: 900px;
	width: %;
	min-height: 90vh;
	background-color: white;
}

.skillsGrid {
	margin: auto;
	width: 90%;
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
}

.skillsGrid i {
	font-size: 75px;
	padding: 20px;
	color: orange;
}
/*------------------------SKILLS */

/*-----------------PROJECTS */
.single-project {
	margin-top: 10vh;
	box-shadow: 0 0 5px #000000;
}

.single-project:hover {
	margin-top: 10vh;
}

.project-links-grid {
	display: flex;
	justify-content: space-between;
	
}

.project-link {
	color: blue;
	font-size: 2vh;
	padding: 5px;
}

.project-link:hover {
	border: 1px solid yellow;
}

/*-----------------PROJECTS */

h4 {
	margin: 0;
}

/* -----------------FOOTER */

footer {
	margin-top: 15px;
	background: radial-gradient(circle, rgb(52,58,64) 0%, rgb(38,41,45) 100%);
	color: white;
	padding: 10px;
	text-align: center;
	box-shadow: 0 0 10px black;
}

/* -----------------FOOTER */

/*------------------------ menu */
#menu {
	margin: 3vw;
	height: 30px;
	font-size: 30px;
	position: fixed;
	color: yellow;
	z-index: 2;
	animation: slide-left 0.125s ease-in-out;
}

@keyframes slide-left {
	0% {
		transform: translateX(-50px);
	}
	100% {
		transform: translateX(0px);
	}
}

#menu:hover {
	color: var(--blue);
}

#menuPop{
	z-index: 1;
	width: 100%;
	height: 100vh;
	border: 1px solid yellow;
	position: absolute;
	background-color: var(--gray-dark);
	opacity: 0.95;
	animation: zoom 0.125s ease-in-out;
	color: white;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}

@keyframes zoom {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.menu-link {
	font-size:40px;
}

/* menu */

/* loader */
#loader {
	background-color: var(--gray-dark);
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 3;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid yellow;
	width: 120px;
	height: 120px;
	display: block;
	animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@media only screen and (max-width: 580px) {
	:root {
	--width-percent: 95%;
	}
	body {
		width: 100vw;
	}
	.social-media-icon {
		font-size: 5vh;
		color: blue;
	}
	section {
		width: 100%;
	}
	.project-link {
		font-size: 3vh;
	}
	header {
		height: 80vh;
	}
}

@media only screen and (min-width: 900px) {
	.single-project {
		box-shadow: none;
	}
	section {
		box-shadow: inset 0 0 10px black;
	}
}