header
  background: radial-gradient(circle, rgb(52, 58, 64) 0%, rgb(38, 41, 45) 100%)
  background-size: 400%
  animation: gradient 30s linear 2s infinite alternate
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75)

@keyframes gradient
	0%
		background-position: 0% 50%

	50%
		background-position: 100% 50%

	100%
		background-position: 0% 50%
