.single-project
  margin-top: 10vh
  box-shadow: 0 0 5px #000000

.single-project:hover
  margin-top: 10vh

.project-links-grid
  display: flex
  justify-content: space-between

.project-link
  color: blue
  font-size: 2vh
  padding: 5px

.project-link:hover
  border: 1px solid yellow
